/*body {
	background-color: red
}*/

div {
	text-align: center;
}

.boxContainer {
	background-color: white;
	border: 1px solid black;
}

.clubRow2,
.clubRow3 {
	margin-top: 20px;
}

.clubRow4 {
	margin-top: 10px;
}

.errorText {
	color: red;
}

.clubInfo {
	color: blue;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.bottomStyle {
	margin-bottom: 15px;
}

.commentDiv {
	height: 200px;
	overflow: auto;
}

.reviewInput {
	margin-left: 20px;
}

.shelfUl {
	list-style-type: none;
	padding-left: 0;
}

.tallDivHeight {
	height: 408px;
	overflow: auto;
}

.memberMargin {
	margin-top: -161px;
}

.membersClubHeight {
	height: 124px;
	overflow: auto;
}

.controlMargin {
	margin-top: -652px;
}

#goodreads-widget {
font-family: georgia, serif;
padding-bottom: 15px;
width:455px;
}
#goodreads-widget h1 {
font-weight:normal;
font-size: 16px;
border-bottom: 1px solid #BBB596;
margin-bottom: 0;
}
#goodreads-widget a {
text-decoration: none;
color:#660;
}
iframe{
background-color: #fff;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
color:#660;
}
#gr_footer {
width: 100%;
border-top: 1px solid #BBB596;
text-align: right;
}
#goodreads-widget .gr_branding{
color: #382110;
font-size: 11px;
text-decoration: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}