body {
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Ubuntu', sans-serif;
}

/*Poppins*/

div {
	text-align: center;
}

.navBar {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.appDiv {
	overflow: auto;
	top: 0;
	left: 0;
}

.homeDiv {
	background-image: url(./brownFence.jpg);
	background-repeat: repeat;
	overflow: auto;	
	top: 0;
	left: 0;
	height: 100vh;
	padding-top: 50px;
}

.landPanel1 {
	font-family: 'Poppins', sans-serif;
/*	font-family: 'Baumans', cursive;*/
	background-image: url(./brownFence.jpg);
	background-repeat: repeat;
	height: 83vh;
}

.titleHeading {
	font-size: 92px;
	font-weight: bolder;
	text-shadow: 5px 5px 0px #337ab7;
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 15px;
}

.fa {
	color: #337ab7;
}

.landPanel2 {
	font-size: 22px;
	background-color: #fff;
	height: 500px;
	padding: 20px 250px 10px 250px;
}

.siteDescription {
	padding-top: 75px;
	display: inline-block;
}

.siteDescription div {
	height: 250px;
}

.welcomePic {
	float: left;
	margin-right: 40px;
}

.landPanel3 {
	font-size: 20px;	
	background-color: #222;
	height: 300px;
	padding: 60px 300px 10px 300px;
}

a {
	color: #222;
}

a:hover {
	color: #222;
}

a:after,
a:active,
a:focus {
	color: #222;
}

.myClubNav a {
	padding: 0px 15px 0px 15px;
}

.myClubNav a:hover {
	color: #fff;
	opacity: .9;	
}

.myClubNav a:after,
.myClubNav a:active,
.myClubNav a:focus {
	color: #fff;
}

.joinClubNav a {
	padding: 0px 15px 0px 15px;
}

.joinClubNav a:hover {
	color: #fff;
	opacity: .9;	
}

.joinClubNav a:after,
.joinClubNav a:active,
.joinClubNav a:focus {
	color: #fff;
}

.boxContainer {
	background-color: #fff;
	border: 2px solid #222;
	border-radius: -20px;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.whiteText {
	color: #fff;
}

h1 {
	color: #fff;
}

label {
	padding-right: 8px;
}

.inputPadding {
	text-align: right;
	padding-right: 20%;
	padding-top: 7px;
}

.appDiv {
	margin-top: 50px;
}

.clubRow2 {
	margin-top: 20px;
}

.clubRow3 {
	margin-top: 20px;
}

.errorText {
	color: red;
}

.clubInfo {
	color: #337ab7;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.bottomStyle {
	margin-bottom: 15px;
}

.commentDiv {
	height: 200px;
	overflow: auto;
}

.reviewInput {
	margin-left: 20px;
}

.shelfUl {
	list-style-type: none;
	padding-left: 0;
}

.tallDivHeight {
	height: 408px;
	overflow: auto;
}

.memberMargin {
	margin-top: -161px;
}

.membersClubHeight {
	height: 140px;
	overflow: auto;
}

.controlMargin {
	margin-top: -652px;
}

.chatroomDiv {
	border: 1px solid #222;
	height: 600px;
	width: 600px;
	background-color: #fff;
}

.textHere {
	color: #42FF00;
}

.textAbsent {
	color: #00FEFF;
}

.chatStats {
	float: left;
	margin-left: 175px;
}

#chatMessageDisplay {
	height: 420px;
	overflow: auto;
}

.buttonToolBar {
	margin: 0 auto;
}

/*goodreades widget styling*/
#goodreads-widget {
font-family: georgia, serif;
padding-bottom: 15px;
width:455px;
}
#goodreads-widget h1 {
font-weight:normal;
font-size: 16px;
border-bottom: 1px solid #BBB596;
margin-bottom: 0;
}
#goodreads-widget a {
text-decoration: none;
color:#660;
}
iframe{
background-color: #fff;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
color:#660;
}
#gr_footer {
width: 100%;
border-top: 1px solid #BBB596;
text-align: right;
}
#goodreads-widget .gr_branding{
color: #382110;
font-size: 11px;
text-decoration: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}