body {
	background-image: url(./brownFence.svg);
	background-repeat: repeat;
	font-size: 18px;
	line-height: 1.5;
}

div {
	text-align: center;
}

NavBar {
	color: #FFF1D7;
}

a {
	color: #FFF1D7;
}

a:hover {
	color: #FFF1D7;
	opacity: .7;
}

a:after,
a:active,
a:focus {
	color: #FFF1D7;
}

.boxContainer {
	background-color: #fff;
	border: 1px solid black;
	border-radius: -20px;
}

.quote {
	font-family: 'Cedarville Cursive', cursive;
	font-size: xx-large;
}

.whiteText {
	color: #FFF1D7;
}

h1 {
	color: #CEF9FF;
}

label {
	padding-right: 8px;
}

.inputPadding {
	padding-top: 4px;
}

.appDiv {
	margin-top: 50px;
}

.clubRow2,
.clubRow3 {
	margin-top: 20px;
}

.clubRow4 {
	margin-top: 10px;
}

.errorText {
	color: red;
}

.clubInfo {
	color: blue;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.bottomStyle {
	margin-bottom: 15px;
}

.commentDiv {
	height: 200px;
	overflow: auto;
}

.reviewInput {
	margin-left: 20px;
}

.shelfUl {
	list-style-type: none;
	padding-left: 0;
}

.tallDivHeight {
	height: 408px;
	overflow: auto;
}

.memberMargin {
	margin-top: -161px;
}

.membersClubHeight {
	height: 124px;
	overflow: auto;
}

.controlMargin {
	margin-top: -652px;
}

.chatroomDiv {
	border: 1px solid black;
	height: 600px;
	width: 600px;
	background-color: white;
}

.textHere {
	color: #42FF00;
}

.textAbsent {
	color: #FF0419;
}

.chatStats {
	float: left;
	margin-left: 175px;
}

#chatMessageDisplay {
	height: 420px;
	overflow: auto;
}

.buttonToolBar {
	margin: 0 auto;
}

/*goodreades widget styling*/
#goodreads-widget {
font-family: georgia, serif;
padding-bottom: 15px;
width:455px;
}
#goodreads-widget h1 {
font-weight:normal;
font-size: 16px;
border-bottom: 1px solid #BBB596;
margin-bottom: 0;
}
#goodreads-widget a {
text-decoration: none;
color:#660;
}
iframe{
background-color: #fff;
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
color:#660;
}
#gr_footer {
width: 100%;
border-top: 1px solid #BBB596;
text-align: right;
}
#goodreads-widget .gr_branding{
color: #382110;
font-size: 11px;
text-decoration: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}